* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #ccbfbf;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
  text-align: center;
}

.navbar a:hover {
  background-color: #ff93c5;
}

.navbar a.active {
  background-color: #ff0984;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
 body
 {
  background-image: url("https://images.unsplash.com/photo-1570475735025-6cd1cd5c779d?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGluayUyMHdhbGxwYXBlcnxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
 }
h1
{
    text-align: center;
    font-family: cursive;
    color: #c27599;
    
}

h2
{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3
{
    text-align: left;
    color: #757575;
    font-style: oblique;
}

.button {
  border-radius: 4px;
  background-color: grey;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}